.places {
  display: grid;
  row-gap: 80px;
  padding: 92px 0;
}

@media screen and (max-width: 768px) {
  .places {
    row-gap: 72px;
    padding: 88px 0 90px 0;
  }
}

@media screen and (max-width: 420px) {
  .places {
    row-gap: 50px;
  }
}
